// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

// Variables
$body-bg-color:  #f5f6fa ;
$header-bg-color: #182C61;
$text-primary-color: #fff;
$btn-primary-color: #44bd32;

// Medias
$tablet: 1023px;
$mobile: 767px;
